/* Base styles */
* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("images/cat-monogram.svg");
    background-size: 5%;
    background-repeat: repeat;
    background-color: gray;
    color: #444;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: hsla(33, 18%, 50%, 0.9);
}

em {
    font-style: italic;
}

p {
    margin-bottom: 0.5rem;
}

/* Specific styles */

.container {
    width: 1200px;
    display: flex;
    align-items: stretch;
    /*height: 100vh;*/
}

.image-sidebar {
    position: relative;
    height: 100vh;
    width: 40%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url("images/patches2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#patches {
    display: block;
}

.image-sidebar .logo {
    background-color: black;
    opacity: 70%;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50vh;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    padding: 8px;
}

.image-sidebar cite {
    font-size: 12px;
    color: white;
    display: block;
    position: absolute;
    bottom: 0.25rem;
    background-color: black;
    opacity: 20%;
    width: 100%;
    text-align: center;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    width: 60%;
    overflow: hidden;
}

.main > * {
    padding: 24px 48px;
}

.call-to-action {
    font-size: 24px;
}

.call-to-action p {
    margin-bottom: 1.5rem;
}

#signup-form {
    background-color: white;
    box-shadow: 0 2px 4px 1px #ccc;
}

#signup-form p {
    margin-bottom: 24px;
    font-size: 24px;
}

.input-row {
    display: flex;
    margin-bottom: 24px;
}

.input:not(:first-child) {
    margin-left: 64px;
}

label {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    color: hsl(213, 12%, 32%);
    letter-spacing: 0.12rem;
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    display: block;
    border: 2px solid #E5E7EB;
    border-radius: 3px;
    width: 16rem;
    padding: 6px 12px;
    font-size: 16px;
    color: hsl(213, 12%, 32%);
}

input::placeholder {
    color: #bbb;
    font-style: italic;
}

#signup-form input:focus {
    border-color: hsl(230, 40%, 60%);
    border-width: 2px;
    box-shadow: 2px 2px 4px 1px #ccc;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: hsl(0, 35%, 65%);
}

.pw-error {
    display: none;
    color: hsl(0, 35%, 65%);
    padding-top: 8px;
}

button {
    font-size: 18px;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: hsl(33,48%,50%);
    color: white;
    border: none;
    margin-bottom: 24px;
    box-shadow: 2px 2px 4px 1px #ccc;
}

.actions a {
    color: hsl(33,48%,50%);
}